.display-none {
  display: none;
}

#stdElements {
  display: none;
}

#challengesFrom {
  float: left;
}

#challengesTo {
  float: right;
}

.user .status {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
}

.user.online .status {
  background: #00ff00;
}

.user.match .status {
  background: #0000ff;
}

